<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GesEdu</title>

    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-nova.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-PT.min.js"></script>
    <script src="~/lib/kendo-ui/js/messages/kendo.messages.pt-PT.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
    <nav class="ig-navbar navbar navbar-expand-lg navbar-light mb-4">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="ig-brand-ddl nav-link dropdown-toggle" href="#" id="navbarBrandDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="ig-logo" title="GesEdu" src="~/images/logo.svg">
                        <span class="ig-app-name">Início</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBrandDropdown">
                        <li><a class="dropdown-item" href="#">Estabelecimentos de Ensino Básico e Secundário - Área Reservada</a></li>
                        <li><a class="dropdown-item" href="#">Programa MEGA</a></li>
                        <li><hr class="dropdown-divider"></li>
                      @*  <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Início</a></li>*@
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="ig-user-ddl nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ig-userdet-cont">
                            <span class="ig-uo-name">
                                <span class="badge rounded-pill ig-uo-code">@User.GetCodigoServico()</span>
                                @User.GetNomeServico()
                            </span>
                            <span class="ig-uo-user">
                                <i class="fas fa-user"></i> @(User.IsAdmin() ? "(ADM)" : "") @User.GetUsername()
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>@Html.ActionLink("Escolher UO", "ChooseUo", "Authentication", new {@class = "dropdown-item"})</li>
                        @if (User.IsAdmin())
                        {
                            <li>
                                @Html.ActionLink("Escolher UO", "ChooseUo", "Authentication", new {@class = "dropdown-item"})
                            </li>
                        }
                        <li>
                            <li>
                                @Html.ActionLink("Sair", "Logout", "Authentication", new {@class = "dropdown-item"})
                            </li>
                            @*@if (claims.Where(j => j.Type == System.Security.Claims.ClaimTypes.Role).Any(x => x.Value == "RESPONSAVEL" || x.Value == "ADMIN"))
                        {
                        <li>
                        @Html.ActionLink("Gerir Utilizadores", "Index", "Utilizadores", new {@class = "dropdown-item"})
                        </li>
                        <li>
                        @Html.ActionLink("Criar Utilizadores", "CriarUtilizador", "Utilizadores", new {@class = "dropdown-item"})
                        </li>
                        }*@
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
 

    <div id="page-content-wrapper">
        <div class="container-fluid ig-content">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>

        <footer class="col-md-12 ig-footer">
            <div class="row">
                <div class="ig-logo-left col-sm-6">
                    <img src="~/images/footer/logo-left.png" title="Instituto de Gestão Financeira da Educação" />
                </div>
                <div class="ig-logo-right col-sm-6">
                    <img src="~/images/footer/logo-right.png" title="Ministério da Educação" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="ig-copyright">
                        @DateTime.Now.Year Instituto de Gestão Financeira da Educação, IP
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--MODALS-->
    <!--Modal Erros-->
    <div class="modal fade ig-modal ig-modal-error" id="igmodalErro" tabindex="-1" role="dialog" aria-labelledby="igModalLabelErro">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header ig-modal-header-error">
                    <h4 class="modal-title">Erro</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ig-btn-greent" data-dismiss="modal"><i class="fas fa-check"></i> OK</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Success-->
    <div class="modal fade ig-modal ig-modal-error" id="igmodalSucesso" tabindex="-1" role="dialog" aria-labelledby="igModalLabelErro">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header ig-modal-header-success">
                    <h4 class="modal-title">Sucesso</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ig-btn-greent" data-dismiss="modal"><i class="fas fa-check"></i> OK</button>
                </div>
            </div>
        </div>
    </div>

    <!--LOADER-->
    <!-- Modal -->
    <div class="modal fade ig-modal-loader" id="myLoader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                    <h3>Aguarde por favor...</h3>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Confirmaçao-->
    <div class="modal fade ig-modal" id="shared-modal-confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header ig-modal-header-success">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="shared-title-confirm" class="modal-title">Remover</h4>
                </div>
                <div class="modal-body" id="shared-mensagem-positiva">
                    <input type="hidden" id="shared-objid-confirm" />
                    <p id="shared-mensagem-confirm">Tem a certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Não</button>
                    <button id="shared-button-confirm" type="button" class="btn ig-btn-green" data-dismiss="modal"><i class="fas fa-check"></i> Sim</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
