<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GesEdu</title>

    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto:400,700">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap-main.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/cultures/kendo.culture.pt-PT.min.js"></script>
    <script src="~/lib/kendo-ui/js/messages/kendo.messages.pt-PT.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
</head>

<body>
    <nav class="ig-navbar navbar navbar-expand-lg navbar-light mb-4">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="ig-brand-ddl nav-link dropdown-toggle" href="#" id="navbarBrandDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="ig-logo" title="GesEdu" src="~/images/logo.svg">
                        <span class="ig-app-name">Início</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarBrandDropdown">
                        <li><a class="dropdown-item" href="#">Estabelecimentos de Ensino Básico e Secundário - Área Reservada</a></li>
                        <li><a class="dropdown-item" href="#">Programa MEGA</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Início</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="ig-user-ddl nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ig-userdet-cont">
                            <span class="ig-uo-name">
                                <span class="badge rounded-pill ig-uo-code">@User.GetCodigoServico()</span>
                                @User.GetNomeServico()
                            </span>
                            <span class="ig-uo-user">
                                <i class="fas fa-user"></i> @User.GetUsername() @(User.IsAdmin() ? "(Admin)" : "")
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        @if (User.IsAdmin())
                        {
                            <li>
                                @Html.ActionLink("Escolher UO", "ChooseUo", "Authentication", null, new { @class = "dropdown-item" })
                            </li>
                        }
                        @if (User.IsAdmin() || User.IsUserManager())
                        {
                            <li>
                                @Html.ActionLink("Gerir Utilizadores", "Index", "Users", null, new { @class = "dropdown-item" })
                            </li>
                        }
                        <li>
                            @Html.ActionLink("Sair", "Logout", "Authentication", null, new { @class = "dropdown-item" })
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div class="container">
        <footer class="ig-footer">
            <div class="row">
                <div class="col-md ig-footer-logos">
                    <div class="row g-5">
                        <div class="col-auto">
                            <img src="~/images/footer/logo_igefe_footer.svg" alt="IGeFE - Instituto de Gestão Financeira da Educação, I.P." title="IGeFE - Instituto de Gestão Financeira da Educação, I.P." />
                        </div>
                        <div class="col-auto">
                            <img src="~/images/footer/logo_me_footer.svg" alt="República Portuguesa - Educação" title="República Portuguesa - Educação" />
                        </div>
                    </div>
                </div>
                <div class="col-md ig-copyright-pages">
                    @DateTime.Now.Year — Instituto de Gestão Financeira da Educação, I.P.
                </div>
            </div>
        </footer>
    </div>

    @await Html.PartialAsync("_modalContainersPartial")

</body>
</html>
