<nav class="d-flex align-items-start ig-sidebar-menu" id="ig-menu">
    <section class="ig-main-menu nav flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
        @if (User.IsAdmin() || User.IsAreaReservadaUser())
        {
            <a class="ig-menulink @(Html.IsAreaView("AreaReservada") ? "active" : "")" asp-area="AreaReservada" asp-controller="Home" asp-action="Index" title="Estabelecimentos de Ensino">
                <img src="~/images/sidebar/si-areares.svg" alt="Área Reservada" />
                <span>Área Reservada</span>
            </a>
        }
        @if (User.IsAdmin() || User.IsMegaUser())
        {
            <a class="ig-menulink @(Html.IsAreaView("MEGA") ? "active" : "")" asp-area="MEGA" asp-controller="Home" asp-action="Index" title="Programa MEGA">
                <img src="~/images/sidebar/si-mega.svg" alt="MEGA" />
                <span>MEGA</span>
            </a>
        }
        @if (User.IsAdmin() || User.IsSimeDgeUser() || User.IsSimeEscUser())
        {
            <a class="ig-menulink @(Html.IsAreaView("SIME") ? "active" : "")" asp-area="SIME" asp-controller="Home" asp-action="Index" title="SIME-MEGA">
                <img src="~/images/sidebar/si-sime.svg" alt="SIME-MEGA" />
                <span>SIME-MEGA</span>
            </a>
        }
    </section>
    <section class="tab-content ig-submenu">
        @if (Html.IsAreaView("AreaReservada"))
        {
            <div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button @(Html.IsCollapsed(["Listagem", "Detalhe"], ["Trabalhadores"], "AreaReservada", "collapsed"))" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Pessoal
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse @(Html.IsCollapsed(["Listagem", "Detalhe"], ["Trabalhadores"], "AreaReservada", "collapse"))"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li class="@(Html.IsActive(["Listagem", "Detalhe"], ["Trabalhadores"], "AreaReservada"))">
                                        <a class="ig-menuactive" href="@Url.Action("Listagem", "Trabalhadores", new { Area = "AreaReservada" })">Trabalhadores da UO</a>
                                    </li>
                                    @* <li>
                                        <a href="#">Contratos</a>
                                    </li>
                                    <li>
                                        <a href="#">REACT</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Pessoal Docente: Progressão na carreira</h4>
                                    </li>
                                    <li>
                                        <a href="#">Sem recuperação de tempo</a>
                                    </li>
                                    <li>
                                        <a href="#">Com recuperação de tempo</a>
                                    </li>
                                    <li>
                                        <a href="#">Reposicionamentos</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Pessoal não Docente: Progressão na carreira</h4>
                                    </li>
                                    <li>
                                        <a href="#">Trabalhadores</a>
                                    </li> *@
                                </ul>
                            </div>
                        </div>
                    </div>
                    @* <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                Orçamento
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <a href="#">Propor orçamento</a>
                                    </li>
                                    <li>
                                        <a href="#">Orçamento proposto</a>
                                    </li>
                                    <li>
                                        <a href="#">Orçamento atribuído</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Outras atividades</h4>
                                    </li>
                                    <li>
                                        <a href="#">Atividade 190</a>
                                    </li>
                                    <li>
                                        <a href="#">Atividade 191</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Disponibilidades POCH</h4>
                                    </li>
                                    <li>
                                        <a href="#">Disponibilidades</a>
                                    </li>
                                    <li>
                                        <a href="#">Notas de receita</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Outras disponibilidades</h4>
                                    </li>
                                    <li>
                                        <a href="#">Disponibilidades</a>
                                    </li>
                                    <li>
                                        <a href="#">Notas de receita</a>
                                    </li>
                                    <li>
                                        <a href="#">Justificação de saldos da gerência</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> *@
                    @* <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                Receita
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>
                                        <a href="#">Receita</a>
                                    </li>
                                    <li>
                                        <a href="#">Requisições de fundos</a>
                                    </li>
                                    <li>
                                        <a href="#">Certidões de receita</a>
                                    </li>
                                    <li>
                                        <a href="#">Reposições abatidas</a>
                                    </li>
                                    <li>
                                        <a href="#">Exportação de movimentos</a>
                                    </li>
                                    <li>
                                        <a href="#">Pedidos de exceção</a>
                                    </li>
                                    <li class="ig-menutitle">
                                        <h4>Autorização de pagamentos</h4>
                                    </li>
                                    <li>
                                        <a href="#">Mensal</a>
                                    </li>
                                    <li>
                                        <a href="#">Anual</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> *@
                </div>
            </div>
        }

        @if (Html.IsAreaView("MEGA"))
        {
            <div>
                <ul>
                    @* <li>
                        <a href="#">Gerir vouchers</a>
                    </li>
                    <li>
                        <a href="#">Registar devolução de manuais</a>
                    </li>
                    <li>
                        <a href="#">Projeto-piloto Manuais Digitais</a>
                    </li>
                    <li>
                        <a href="#">Livrarias aderentes</a>
                    </li>
                    <li>
                        <a href="#">Suporte</a>
                    </li> *@
                </ul>
            </div>
        }

        @if (Html.IsAreaView("SIME"))
        {
            <div>
                <ul>
                    <li class="@(Html.IsActive(["Index"], ["ApreciacaoManuais"], "SIME"))">
                        <a href="@Url.Action("Index", "ApreciacaoManuais", new { Area = "SIME" })">Apreciação de manuais</a>
                    </li>
                    @* <li>
                        <a href="#">Adoções de anos anteriores</a>
                    </li>
                    <li>
                        <a href="#">Novas adoções</a>
                    </li>
                    <li>
                        <a href="#">Manuais adaptados</a>
                    </li>
                    <li>
                        <a href="#">Pedidos de exceção</a>
                    </li>
                    <li>
                        <a href="#">Suporte</a>
                    </li> *@
                </ul>
            </div>
        }
    </section>
</nav>