@model NovasAdocoesViewModel

@{
    ViewData["Title"] = "Novas Adoções";
}

<div class="ig-pagetitle mb-3">
    <div class="row">
        <div class="col-md">
            <h2>
                @ViewData["Title"]
            </h2>
        </div>
        <div class="col-md-auto text-end">
            <button class="btn ig-btn-blue dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-book"></i> Listas de manuais adotados
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                @foreach (var item in Model.Escolas)
                {
                    <li>
                        <a class="dropdown-item" name="manuais_pdf_export" id="@item.cod_escola_me" href="javascript:void(0)">@item.nome</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <breadcrumb></breadcrumb>
</div>

@if (Model.Ciclos.Any())
{
    <h4 class="mt-3">Estimativa do n.º de alunos:</h4>
    <div class="card ig-card ig-statistics-card card-body mb-5">
        <div class="row ">
            @foreach (var item in Model.Ciclos)
            {
                var badgeCssClass = item.ciclo switch
                {
                    "B" => "ig-cycle-01",
                    "C" => "ig-cycle-02",
                    "D" => "ig-cycle-03",
                    "E" => "ig-cycle-se",
                    _ => string.Empty
                };

                <div class="col-md">
                    <h4><span class="badge rounded-pill @badgeCssClass">@item.descricao</span></h4>
                    <h3><i class="fas fa-users"></i> @(!string.IsNullOrEmpty(item.total_aluno) ? $"{item.total_aluno} alunos" : "N/A")</h3>
                </div>
            }
        </div>
    </div>
}

<div class="ig-tabs">
    <ul class="nav nav-tabs">
        @foreach (var item in Model.Ciclos)
        {
            var badgeCssClass = item.ciclo switch
            {
                "B" => "ig-cycle-01",
                "C" => "ig-cycle-02",
                "D" => "ig-cycle-03",
                "E" => "ig-cycle-se",
                _ => string.Empty
            };

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#ciclo_@item.ciclo"> <span class="badge rounded-pill @badgeCssClass">@item.descricao</span></a>
            </li>
        }
    </ul>

    <div class="tab-content card ig-card ig-loadable-div">
        @foreach (var item in Model.Ciclos)
        {
            <div class="tab-pane card-body" id="ciclo_@item.ciclo">
            </div>
        }
    </div>
</div>

@* Modal nova adoção *@
<div class="modal fade ig-modal" id="nova_adocao_modal" tabindex="-1" aria-labelledby="nova_adocao_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

@* Modal detalhe manuais adotados *@
<div class="modal fade ig-modal" id="detalhe_adocao_modal" tabindex="-1" aria-labelledby="detalhe_adocao_label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.ig-tabs .nav-tabs .nav-link').on('shown.bs.tab', function () {
            refreshTab();
        });

        var firstTab = $('.nav-tabs .nav-link');
        var tab = new bootstrap.Tab(firstTab);
        tab.show();

        $('[name="manuais_pdf_export"]').on('click', function () {
            var cod_escola_me = $(this).prop('id');

            var url = '@Url.Action("ManuaisAdotadosPdfExport", "NovasAdocoes")/?cod_escola_me=' + cod_escola_me;

            window.location.href = url;
        });
    });

    function refreshTab() {
        var activeTab = $('.tab-content .tab-pane.active').prop('id');

        $.ajax({
            url: '@Url.Action("ManuaisAdotadosCicloPartial", "NovasAdocoes")',
            type: "GET",
            global: false,
            data: {
                ciclo: activeTab.split('_')[1]
            },
            success: function (data) {
                $(`#${activeTab}`).html(data);
                HideDivLoader();
            },
            error: function (error) {
                ErrorHandling(error);
                HideDivLoader();
            },
            beforeSend: ShowDivLoader()
        });
    }
</script>