@model PaginatedResult<GesEdu.Shared.WebserviceModels.Auth.GetUtilizadoresResponseItem>

@if (Model.TotalCount != 0)
{
    <div class="card ig-card ig-itemlist">
        <div class="list-group list-group-flush">
            @foreach (var item in Model.Data)
            {
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md">
                            <h5>@item.NOME</h5>
                            <p class="mb-0">
                                <a href="mailto:@item.EMAIL"><i class="far fa-envelope"></i> @item.EMAIL</a>
                            </p>
                        </div>
                        <div class="col-md-auto text-end d-flex align-items-center">
                            <div class="form-check form-switch ig-check ig-switch-reverse mb-0">
                                <input name="activate_user_checkbox" id="user_@item.ID_UTILIZADOR" class="form-check-input" type="checkbox" @(item.ESTADO == "A" ? "checked" : null)>
                                <label class="form-check-label" for="user_@item.ID_UTILIZADOR">@(item.ESTADO == "A" ? "Ativo" : "Inativo")</label>
                            </div>
                        </div>
                        <div class="col-md-auto text-end d-flex align-items-center">
                            <a href="javascript:void(0)" class="btn ig-btn-blue" title="Editar permissões" onclick="openPermissionModal(@item.ID_UTILIZADOR)"><i class="fa-solid fa-user-lock"></i></a>
                        </div>
                    </div>
                </div>
            }
            <div class="list-group-item ig-item-pagination">
                @{
                    await Html.RenderPartialAsync("_paginationPartial", new PaginationViewModel(Model.PageIndex, Model.PageSize, Model.TotalCount, "searchUsers({0}, {1})"));
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="card ig-card card-body ig-noresults text-center">
        <h3><i class="fas fa-search"></i>  Sem resultados</h3>
        <p class="mb-0">Não foram encontrados resultados para a pesquisa efetuada.</p>
    </div>
}

<script>
    $('[name="activate_user_checkbox"]').on('change', function () {
        let userId = $(this).prop('id').split('_')[1];
        let isChecked = $(this).is(':checked');

        $.ajax({
            url: '@Url.Action("ToggleUser", "Users")',
            type: "POST",
            global: false,
            data: {
                userId: userId,
                isActive: isChecked,
                isIgefeUser: $("#is_igefe_users_search").val()
            },
            success: function (response) {
                $("label[for='user_" + userId + "']").text(isChecked ? 'Ativo' : 'Inativo');

                SuccessToast(response.message);
            },
            error: function (error) {
                ErrorHandling(error)
                $("#user_" + userId).prop('checked', !isChecked)
            }
        });
    });
</script>