@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="ig-card card card-body">
            <div class="row justify-content-center">
                <div class="col-5 mt-3 mb-5 text-center">
                    <img class="img-fluid" src="~/images/logo.svg">
                </div>
            </div>
            <form asp-antiforgery="true" asp-controller="Authentication" asp-action="Login" method="post">
                <h4 class="ig-dash-title">@ViewData["Title"]</h4>
                <div class="mb-3">
                    <label asp-for="@Model.Username" class="form-label"></label>
                    <input asp-for="@Model.Username" class="form-control" />
                    <span asp-validation-for="@Model.Username" class="ig-field-error"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                    <span asp-validation-for="@Model.Password" class="ig-field-error"></span>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    <div class="alert ig-alert-warning mt-3">
                        <p><i class="fas fa-exclamation-triangle"></i> <strong>Erro no login:</strong></p>
                        <p class="mb-0">@ViewBag.ErrorMessage </p>
                    </div>
                }
                    <div class="text-end">
                        <input type="submit" class="btn ig-btn-green" value="Iniciar sessão" />
                    </div>
                
            </form>
        </div>
        <div class="mt-5 text-center">
            <a href="@Url.Action("PasswordRecovery", "Authentication")"><i class="fas fa-lock"></i> Esqueci-me da palavra passe</a>
        </div>
    </div>
</div>