@model PasswordRecoveryViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Recuperação de palavra-passe";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="ig-card card card-body">
            <div class="row justify-content-center">
                <div class="col-5 mt-3 mb-5 text-center">
                    <img class="img-fluid" src="~/images/logo.svg">
                </div>
            </div>
            <div class="row justify-content-center">
                <form asp-antiforgery="true" asp-controller="Authentication" asp-action="PasswordRecovery" method="post">
                    <h4>@ViewData["Title"]</h4>
                    <div class="mb-3">
                        <label asp-for="@Model.Email" class="form-label"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="ig-field-error"></span>
                    </div>
                   
                    <div class="text-end">
                        <input type="submit" class="btn ig-btn-green fas fa-file-alt" value="Recuperar palavra-passe" />
                    </div>
                    @if (ViewBag.IsSuccessful == true)
                    {
                        <div class="alert ig-alert-success mt-3">
                            <p><i class="fas fa-check"></i> <strong>Sucesso:</strong></p>
                            <p class="mb-0">Foram enviadas instruções para o email que introduziu.</p>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert ig-alert-warning mt-3">
                            <p><i class="fas fa-exclamation-triangle"></i> <strong>Erro:</strong></p>
                            <p class="mb-0">@ViewBag.ErrorMessage</p>
                        </div>
                    }
                </form>
            </div>
        </div>
        <div class="mt-5 text-center">
            <a href="@Url.Action("Login", "Authentication")"><i class="fas fa-arrow-left"></i> Voltar ao Login</a>
        </div>
    </div>
</div>
