@model PasswordRecoveryViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Recuperação de Password";
}

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="ig-panel ig-login-panel panel panel-default ig-dash-green">

            <form asp-antiforgery="true" asp-controller="Authentication" asp-action="PasswordRecovery" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <h5 class="ig-dash-title">@ViewData["Title"]</h5>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Email" class="control-label"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn ig-btn-green" value="Iniciar sessão" />
                    </div>

                    @if (ViewBag.IsSuccessful == true)
                    {
                        <div class="form-group">
                            <p class="text-success"><b>Sucesso!</b></p>
                            <p class="text-success">Foram enviadas instruções para o email que introduziu.</p>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="form-group">
                            <p class="text-danger"><b>Erro!</b></p>
                            <p class="text-danger">@ViewBag.ErrorMessage</p>
                        </div>
                    }

                </div>
            </form>
        </div>
        <a class="ig-sec-login" href="@Url.Action("Login", "Authentication")">Voltar ao Login</a>
    </div>
</div>

