@model PasswordChangeViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Atualização de palavra-passe";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="ig-card card card-body">
            <div class="row justify-content-center">
                <div class="col-5 mt-3 mb-5 text-center">
                    <img class="img-fluid" src="~/images/logo.svg">
                </div>
            </div>
            <form asp-antiforgery="true" asp-controller="Authentication" asp-action="PasswordChange" method="post" data-ajax="true">
                <h4>@ViewData["Title"]</h4>
                <div class="mb-3">
                    <label asp-for="@Model.OldPassword" class="form-label"></label>
                    <input asp-for="@Model.OldPassword" class="form-control" />
                    <span asp-validation-for="@Model.OldPassword" class="ig-field-error"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.NewPassword" class="form-label"></label>
                    <input asp-for="@Model.NewPassword" class="form-control" />
                    <span asp-validation-for="@Model.NewPassword" class="ig-field-error"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ConfirmNewPassword" class="form-label"></label>
                    <input asp-for="@Model.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="@Model.ConfirmNewPassword" class="ig-field-error"></span>
                </div>
                <div class="text-end">
                    <input type="submit" class="btn ig-btn-green" value="Atualizar palavra-passe" />
                </div>
            </form>
        </div>
    </div>
</div>
